<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
      <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Welcome to my
        Blog</h2>
      <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
        Share your thoughts or emotions. Post something
        interesting. Meet new people. You can also sell or buy anything.
      </p>
    </div>
    <div class="grid gap-8 lg:grid-cols-2">
      <% @post.each do |p| %>
        <article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
          <div class="flex justify-between items-center">
            <div class="flex items-center space-x-4">
              <%= image_tag p.user.avatar, class: 'w-7 h-7 rounded-full' %>
              <span class="font-medium dark:text-white">
                <%= p.user.display_name %>
              </span>
            </div>
          </div>
          <% p.images.each do |image| %>
            <%= image_tag image, class: "w-auto h-20 mt-2" %>
          <% end %>
          <p class="font-light text-gray-500 dark:text-gray-400">
            <%= p.note %>
          </p>
        </article>
      <% end %>
    </div>
  </div>
</section>
